    /*layout grid*/
    
    .main__container {
        .container__grid {
            display: grid;
            padding: 20px 0;
            grid-gap: 10px;
            grid-template-columns: 2fr 2fr;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            .grid__elementos {
                @include grilla (1 1 50%, flex, 20px, 10px, wrap, column, flex-start, 1px solid $sable);
                .elemento__1 {
                    @include elemento (10px, 5px, 1px dotted rgb(196, 192, 192));
                }
                .elemento__2 {
                    @include elemento (10px, 5px, 1px dotted rgb(196, 192, 192));
                }
            }
            .grid__aside {
                @include grilla (1 1 50%, flex, 20px, 10px, wrap, column, center, 1px solid $sable);
                .aside__nosotros__imagen {
                    @include margen (12px, 5px);
                    margin-bottom: 0;
                }
                .aside__mascursos {
                    @include margen (0 12px, 0px);
                }
                .aside__gif {
                    @include margen (12px, 5px);
                    margin-left: 25%;
                }
            }
        }
    }