    /*base animations*/
    
    .mueve {
        transform-box: fill-box;
        transform-origin: center left;
        animation: pallapaca 3s linear;
    }
    
    .tuerca {
        transform-box: fill-box;
        transform-origin: center center;
        animation: ruedatuerca 3s ease-in forwards;
    }
    
    @keyframes ruedatuerca {
        0% {
            transform: rotate(0deg);
            transform-origin: center;
        }
        100% {
            transform: rotate(200deg);
            transform-origin: center;
        }
    }
    
    @keyframes pallapaca {
        0% {
            transform: translateX(0px);
            transform-origin: left;
        }
        100% {
            transform: translateX(100px);
            transform-origin: center left;
        }
    }