/*layout main-section*/

.main {
    .main__img__principal {
        .img__banner {
            width: 100%;
            height: 200px;
            display: block;
            object-fit: cover;
        }
    }
    .main__perfil {
        width: 100%;
        display: flex;
        padding: 15px 10px;
        height: 100px;
        .img-perfil {
            width: 85px;
            height: 85px;
        }
        .perfil__datos {
            margin-left: 3%;
        }
        .perfil__control {
            margin-left: 62%;
            margin-top: 2%;
        }
    }
    .card {
        border: none;
    }
    .card-body {
        padding: 10px 0;
    }
}