/*abstracts variables*/

//Colores//
$white: #FFF;
$isabelline: #f8f3e6;
$ligthgray: #ebeced;
$smokyblack: #193446;
$graniteGray: #fbb79e;
$quiksilver: #4c384a;
$ruby: #f26968;
$griss: #d4d0d4;
//Font sizes//
$size1: 50px;
$size2: 30px;
$size3: 20px;
$size4: 18px;
$size5: 16px;
$size6: 14px;
$size7: 12px;
$size8: 10px;