/*abstracts variables*/

//Colores//
$white: #FFF;
$black: #000;
$sable: #060606;
$charcoal: #3f2c1f;
$tangerine: #FFAF6D;
$orange: #FFA500;
//Font sizes//
$size1: 50px;
$size2: 45px;
$size3: 40px;
$size4: 35px;
$size5: 30px;
$size6: 20px;
$size7: 16px;
$size8: 14px;
$size9: 12px;