/*abstracts variables*/
/*abstracts mixins*/
/*base reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*base animations*/
.mueve {
  transform-box: fill-box;
  transform-origin: center left;
  animation: pallapaca 3s linear;
}

.tuerca {
  transform-box: fill-box;
  transform-origin: center center;
  animation: ruedatuerca 3s ease-in forwards;
}

@keyframes ruedatuerca {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(200deg);
    transform-origin: center;
  }
}
@keyframes pallapaca {
  0% {
    transform: translateX(0px);
    transform-origin: left;
  }
  100% {
    transform: translateX(100px);
    transform-origin: center left;
  }
}
/*base typography*/
.header .navbar__menu .menu__link {
  font-family: "Ubuntu", san-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFF;
}

.main .grid__elementos .elemento1__h2,
.main .grid__elementos .elemento2__h2 {
  font-family: "Ubuntu" san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding: 10px 0;
  text-align: left;
}
.main .grid__elementos .elemento1__p,
.main .grid__elementos .elemento2__p {
  font-family: "Ubuntu" san-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  padding: 10px 0;
  text-align: justify;
}
.main .grid__elementos .elemento1__p2,
.main .grid__elementos .elemento2__p2 {
  font-family: "Ubuntu" san-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  padding: 10px 0;
  text-align: left;
}
.main .grid__elementos .elemento1__icons__p,
.main .grid__elementos .elemento2_icons__p {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  padding: 10px 0;
  text-align: left;
  margin: 0 10px;
  margin-left: 0;
}
.main .grid__aside .nosotros__p {
  font-family: "Ubuntu" san-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding: 10px 0;
  text-align: center;
}
.main .grid__aside .texto__p {
  font-family: "Ubuntu" san-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  padding: 10px 0;
  text-align: justify;
}
.main .grid__aside .mascursos__boton {
  font-family: "Ubuntu" san-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFF;
  padding: 10px 0;
  text-align: center;
}
.main .grid__aside .mascursos__link {
  font-family: "Ubuntu" san-serif;
  font-weight: 400;
  font-size: 14px;
  color: none;
  padding: 10px 0;
  text-align: justify;
}
.main .grid__aside .nosotros__icons {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding: 5px 0;
  text-align: center;
}
.main .grid__aside .nosotros__icons .nosotros__icon {
  margin: 0 5px;
}

.footer .footer__texto {
  font-family: "Poppins" san-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFF;
  padding: 20px;
  text-align: left;
}
.footer .footer__links {
  font-family: "Poppins" san-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFF;
  padding: 20px;
  text-align: left;
}

/*layout header*/
.header {
  width: 100%;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000;
}

/*layout grid*/
.main__container .container__grid {
  display: grid;
  padding: 20px 0;
  grid-gap: 10px;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__container .container__grid .grid__elementos {
  flex: 1 1 50%;
  display: flex;
  padding: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #060606;
}
.main__container .container__grid .grid__elementos .elemento__1 {
  padding: 10px;
  margin-top: 5px;
  border: 1px dotted #c4c0c0;
}
.main__container .container__grid .grid__elementos .elemento__2 {
  padding: 10px;
  margin-top: 5px;
  border: 1px dotted #c4c0c0;
}
.main__container .container__grid .grid__aside {
  flex: 1 1 50%;
  display: flex;
  padding: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #060606;
}
.main__container .container__grid .grid__aside .aside__nosotros__imagen {
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}
.main__container .container__grid .grid__aside .aside__mascursos {
  padding: 0 12px;
  margin-top: 0px;
}
.main__container .container__grid .grid__aside .aside__gif {
  padding: 12px;
  margin-top: 5px;
  margin-left: 25%;
}

/* layout navigation */
.header__navbar {
  width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.header__navbar .navbar__logo {
  width: 40px;
}
.header__navbar .navbar__menu {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__navbar .navbar__menu .menu__items {
  list-style: none;
}
.header__navbar .navbar__menu .menu__link {
  margin: 0 10px;
  flex-grow: 1;
  text-decoration: none;
}
.header__navbar .menu__boton {
  display: none;
}

/*layout main-section*/
.main .main__imagen__banner .imagen__banner {
  width: 100%;
  height: auto;
}
.main .main__container .imagen__html {
  width: 100%;
  height: auto;
}
.main .main__container .imagen__sass {
  width: 100%;
  height: auto;
}
.main .imagen__web {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 42%;
}
.main .mascursos__menu {
  padding: 10px 0;
  margin-left: 3%;
}
.main .mascursos__menu .mascursos__items {
  list-style: circle;
}
.main .mascursos__menu .mascursos__link {
  text-decoration: none;
}

/*layout footer*/
.footer .footer__varios {
  height: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000;
}
.footer .footer__varios .footer__texto {
  margin-left: 15%;
}
.footer .footer__varios .footer__legales__items {
  padding: 20px;
  display: flex;
}
.footer .footer__varios .footer__legales__items .footer__boton {
  display: block;
}
.footer .footer__varios .footer__legales__items .footer__boton .boton__enviar {
  display: block;
  padding: 20px;
}
.footer .footer__varios .footer__legales__items .footer__items {
  list-style: none;
  margin: 0 5px;
}
.footer .footer__varios .footer__legales__items .footer__links {
  margin: 0 5px;
  text-decoration: none;
}

/*layout grid*/
.main__container .container__grid {
  display: grid;
  padding: 20px 0;
  grid-gap: 10px;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__container .container__grid .grid__elementos {
  flex: 1 1 50%;
  display: flex;
  padding: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #060606;
}
.main__container .container__grid .grid__elementos .elemento__1 {
  padding: 10px;
  margin-top: 5px;
  border: 1px dotted #c4c0c0;
}
.main__container .container__grid .grid__elementos .elemento__2 {
  padding: 10px;
  margin-top: 5px;
  border: 1px dotted #c4c0c0;
}
.main__container .container__grid .grid__aside {
  flex: 1 1 50%;
  display: flex;
  padding: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #060606;
}
.main__container .container__grid .grid__aside .aside__nosotros__imagen {
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}
.main__container .container__grid .grid__aside .aside__mascursos {
  padding: 0 12px;
  margin-top: 0px;
}
.main__container .container__grid .grid__aside .aside__gif {
  padding: 12px;
  margin-top: 5px;
  margin-left: 25%;
}

/*components buttons*/
.main .grid__aside .mascursos__boton {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #3f2c1f;
}

.footer .footer__boton .input__placeholder {
  width: 150px;
  height: 20px;
}
.footer .footer__boton .input__placeholder:focus {
  background-color: #FFAF6D;
}
.footer .footer__boton .boton__enviar {
  background-color: #FFAF6D;
  border-color: #FFF;
  border-radius: none;
}
.footer .footer__boton .boton__enviar:hover {
  background-color: #FFF;
}

/*vendors jquery-ui*/
@media only screen and (max-width: 768px) {
  body {
    width: 600px;
    height: auto;
  }

  .header {
    width: 100%;
  }
  .header .header__navbar {
    width: 100%;
  }
  .header .menu__boton {
    display: block;
    padding: 5px;
    cursor: pointer;
    color: #FFF;
  }
  .header .menu__boton:hover {
    color: #FFAF6D;
  }
  .header .menu__items {
    text-align: center;
    width: 100%;
    margin-left: 0;
    display: none;
  }
  .header .menu__link {
    display: block;
    border-bottom: 1px solid #000;
    margin: 0;
  }

  .main .container__grid {
    width: 100%;
    display: block;
  }
  .main .container__grid .grid__elementos {
    flex: 0;
    width: 100%;
  }

  .footer {
    width: 100%;
    padding: 2px;
  }
  .footer .footer__varios {
    width: 100%;
    padding: 2px;
    text-align: center;
  }
  .footer .footer__varios .footer__texto {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .footer .footer__varios .footer__legales__items {
    width: 100% s;
    padding: 0;
    margin: 0;
  }
  .footer .footer__varios .footer__boton {
    width: 100%;
    padding: 2px;
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
