/*abstracts variables*/

//Colores//
$white: #FFF;
$isabelline: #ECECEC;
$ligthgray: #D1D1D1;
$smokyblack: #0C0910;
$graniteGray: #646266;
$quiksilver: #A6A5A8;
//Font sizes//
$size1: 50px;
$size2: 30px;
$size3: 20px;
$size4: 18px;
$size5: 16px;
$size6: 14px;
$size7: 12px;