/*base typography*/

.header {
    .navbar__menu .menu__link {
        font-family: 'Raleway';
        font-size: $size6;
        font-weight: 700;
        color: $smokyblack
    }
}

main {
    .elemento1__h1 {
        font-family: 'Old Standard TT';
        font-size: $size1;
        font-weight: 700;
    }
    .elemento1__p {
        font-family: 'Raleway';
        font-size: $size7;
        font-weight: 400;
        color: $graniteGray;
        margin-right: 35%;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .elemento1__btn {
        font-family: 'Raleway';
        font-size: $size6;
        font-weight: 700;
    }
    .elemento2__h1 {
        font-family: 'Old Standard TT';
        font-size: $size2;
        font-weight: 700;
        color: $white;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 80px;
    }
    .elemento2__sp {
        font-family: 'Old Standard TT';
        font-size: $size6;
        font-weight: 700;
        color: $white;
        margin-top: 100px;
        margin-left: 80px;
    }
    .elemento2__inp {
        font-family: 'Raleway';
        font-size: $size7;
        font-weight: 400;
        color: $graniteGray;
    }
    .elemento3__p {
        font-family: 'Old Standard TT';
        font-size: $size4;
        font-weight: 700;
    }
}