    button {
        background-color: #FEB47B;
        border: 1px solid white;
        padding: 10px;
    }
    
    .boton {
        color: #351C4D;
        text-align: center;
    }
    
    .container p {
        color: #351C4D;
        font-family: Verdana;
        font-weight: bold;
    }