/*layout footer*/

.footer {
    .footer__varios {
        width: 100%;
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $black;
        .footer__texto {
            width: 30%;
        }
        .footer__legales__items {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .footer__items {
                list-style: none;
            }
            .footer__links {
                margin: 0 10px;
                flex-grow: 1;
                text-decoration: none;
            }
        }
        .footer__boton {
            display: flex;
        }
    }
}