h1 {
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
}

h5 {
    color: rgb(56, 55, 55);
    font-weight: normal;
    font-size: 14px;
}

h4 {
    color: #000000;
    font-weight: bold;
    font-size: 14px
}